<a href="https://colab.research.google.com/github/Aman78695/Web-Srapping/blob/main/Copy_of_Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
header={'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.47'}
web=requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=header).text

In [ ]:
soup=BeautifulSoup(web,'lxml')

In [ ]:
soup.prettify

In [ ]:
soup.find_all('h1')

In [ ]:
soup.find_all('h1')[0]

In [ ]:
soup.find_all('h1')[0].text

'List of companies in India'

In [ ]:
soup.find_all('h2')

[<h2 class="company-name bold-title-l" title="TCS">
 									TCS
 								</h2>, <h2 class="company-name bold-title-l" title="Accenture">
 									Accenture
 								</h2>, <h2 class="company-name bold-title-l" title="Cognizant">
 									Cognizant
 								</h2>, <h2 class="company-name bold-title-l" title="ICICI Bank">
 									ICICI Bank
 								</h2>, <h2 class="company-name bold-title-l" title="HDFC Bank">
 									HDFC Bank
 								</h2>, <h2 class="company-name bold-title-l" title="Wipro">
 									Wipro
 								</h2>, <h2 class="company-name bold-title-l" title="Infosys">
 									Infosys
 								</h2>, <h2 class="company-name bold-title-l" title="Capgemini">
 									Capgemini
 								</h2>, <h2 class="company-name bold-title-l" title="Tech Mahindra">
 									Tech Mahindra
 								</h2>, <h2 class="company-name bold-title-l" title="Genpact">
 									Genpact
 								</h2>, <h2 class="company-name bold-title-l" title="HCLTech">
 									HCLTech
 								</h2>, <h2 class="company-name bold-title-l" title="Amazon">
 									Amazon
 								</h2>, <h2 class="company-name bold-title-l" title="Axis Bank">
 									Axis Bank
 								</h2>, <h2 class="company-name bold-title-l" title="Concentrix Corporation">
 									Concentrix Corpo...
 								</h2>, <h2 class="company-name bold-title-l" title="IBM">
 									IBM
 								</h2>, <h2 class="company-name bold-title-l" title="Reliance jio">
 									Reliance jio
 								</h2>, <h2 class="company-name bold-title-l" title="Larsen &amp; Toubro Limited">
 									Larsen &amp; Toubro ...
 								</h2>, <h2 class="company-name bold-title-l" title="HDB Financial Services">
 									HDB Financial Se...
 								</h2>, <h2 class="company-name bold-title-l" title="Vodafone Idea">
 									Vodafone Idea
 								</h2>, <h2 class="company-name bold-title-l" title="Teleperformance">
 									Teleperformance
 								</h2>, <h2 class="company-name bold-title-l" title="Reliance Retail">
 									Reliance Retail
 								</h2>, <h2 class="company-name bold-title-l" title="Kotak Mahindra Bank">
 									Kotak Mahindra B...
 								</h2>, <h2 class="company-name bold-title-l" title="Deloitte">
 									Deloitte
 								</h2>, <h2 class="company-name bold-title-l" title="Reliance Industries ">
 									Reliance Industr...
 								</h2>, <h2 class="company-name bold-title-l" title="Bharti Airtel">
 									Bharti Airtel
 								</h2>, <h2 class="company-name bold-title-l" title="BYJU'S">
 									BYJU'S
 								</h2>, <h2 class="company-name bold-title-l" title="Tata Motors">
 									Tata Motors
 								</h2>, <h2 class="company-name bold-title-l" title="Flipkart">
 									Flipkart
 								</h2>, <h2 class="company-name bold-title-l" title="WNS">
 									WNS
 								</h2>, <h2 class="company-name bold-title-l" title="Mahindra &amp; Mahindra">
 									Mahindra &amp; Mahin...
 								</h2>]

In [ ]:
#printing all companies namme
for i in soup.find_all('h2'):
  print(i.text.strip())

In [ ]:
#printing the rating for all companies
for i in soup.find_all('p',class_='rating'):
  print(i.text.strip())

In [ ]:
#printing reviews
for i in soup.find_all('a',class_='review'):
  print(i.text.strip())

## #We will extract all the information from company profile

In [ ]:
company=soup.find_all('div',class_='company-info-wrapper')
len(company)

30

In [ ]:
#printing all companies namme
name=[]
for i in company:
  name.append(i.find('h2').text.strip())
name

In [ ]:
#printing the rating for all companies
rating=[]
for i in company:
  rating.append(i.find('p').text.strip())
rating

In [ ]:
#printing reviews
reviews=[]
for i in company:
  reviews.append(i.find('a',class_='review-count').text.strip())
reviews

In [ ]:
#printing status whether public or private
status=[]
for i in company:
  status.append(i.find_all('p','infoEntity')[0].text.strip())
status

In [ ]:
#printing city name
city=[]
for i in company:
  city.append(i.find_all('p','infoEntity')[1].text.strip())
city